

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@font-face{
    font-family: raleway ;
    src: url(./FUENTES/Raleway-Regular.ttf)
}
/* le agregue estilos a index.html */

body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: raleway;
    height: 100vh;
    

}

/* le aplique primero color y tamaño a los textos y fuentes para que se me haga mas practico */
/* preferi primero darle estilos a las etiquetas  de html de esta manera y despues a los demas aplicarle clases*/

h2{font-size: 50px;
color: rgb(255, 255, 255);}
h3{font-size: 18px;
color: rgb(255, 255, 255);}
h4{ font-size: 16px;
    color: rgb(255, 255, 255);}
p{font-size: 18px;
color: rgb(242, 242, 242);}
ul{list-style: none;}
li{font-size: 20px;}
a {color: rgb(179, 177, 177);
   text-decoration: none;}


button{
    font-size: 14px;
    font-weight: bold;
    padding: 5px 9px;
    border-radius: 5px;
    border: 1px solid rgb(5, 5, 5);
    box-shadow: 3px 3px 10px rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    background-color: rgb(84, 26, 82);

}


button:hover{
    background-color: rgb(0, 0, 0);;
}

.grid {
    display: grid;
    grid-template-areas: 
    
    "header "
    "main"
    "lorem"
    "section"
    "footer "                          ;
}



/*HEADER*/
/* Aca comence a darle estilos al header*/

header{
    grid-area: header;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.21);
    height:90px ;
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex ;
    justify-content: center;
    align-items: center;
    justify-content: space-between
    

}



.logo{
    margin-left: 20px;
    background-color: rgba(220, 89, 89, 0.912);
    
   
}

.logo h1 {
    color: rgb(255, 255, 255);
   font-size: 45px;
   font-weight: bold;
   text-shadow: 5px 5px 5px rgb(189, 86, 207);
   
}

.nav{
    margin-top: 25px;
    margin-right: 20px;
    background-color: rgba(201, 23, 180, 0.732);
    
}

.links{
    display: inline;

}

.links a {
    
    padding-left:25px;
    font-weight: bold;
    letter-spacing: 1px;


}

/*MAIN*/
/*Este es un main que contiene una imagen y un subtitulo ,que actua como banner*/

main {
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.399);
    z-index: 10;
}

section {
    width: 100%;
    margin-bottom: 25px;

}

.banner {
   position: relative;
}
    

.banner img {
    width: 100%;
    height: 100%;

}

.banner_propaganda{
    
    position: absolute;
    top: 30%;
    left: 18%;

}

.banner_propaganda h2 {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(84, 41, 92);
    letter-spacing: 4px;
    

}
.et{
    position: absolute;
    top: 29.7%;
    right: 60%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);

}
.et img{
    width: 900px;

}

.lorem{
    height: 500px;
    
    grid-area: lorem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*SECTION*/
/*Este es un sistema de tarjetas que trate de acomodarlas sin flexbox con position relative y position absolute*/

.pagina_inicio {
    grid-area: section;
    width: 100%;
    height: 950px;
    padding-top: 20px;
   
    text-align: center;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
    

}

.cajita_peliculas{
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 5px solid rgba(195, 10, 192, 0.2);
    border-radius: 20px ;
    

}
.subtitulo{
    background-color: rgb(0, 0, 0);
    
    top: 100px;
    left: 22%;
}
.subtitulo h2{
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(121, 57, 133);
    letter-spacing: 6px;
    font-size: 50px;
}


.cajita_peliculas_cuadros {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
}

.pelicula{
    background-color:rgb(0, 0, 0) ;
    margin: 2%;
    width: 20%;
    height: 500px;


}
.pelicula img{
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
}

.jumanji{
    
   
}

.nuestrapandilla{
    
    
}
.jurasicpark{
   
   
}
.freddy{
    
}

.pelicula h3{
    color: aliceblue;
}


hr {
    color: rgb(42, 42, 42);
}

/*FOOTER*/
/*Por ultimo el final de pagina es simple, mas adelante lo mejorare*/

.footer{
    grid-area: footer;
    background-color: rgb(209, 93, 93);
    width: 100%;
    height: 180px;
    position: relative;
 
}

.caja_footer h3 {
    font-size: 18px;
    text-align: center;
}

.menuprincipal{
    background-color: rgb(0, 0, 0);
    width: 20%;
    height: 20px;
    position: absolute;
    top: 15%;
    left: 40%;

}

.menuprincipal h3{
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
}

.caja_menu{
    background-color: rgb(0, 0, 0);
    width: 10%;
    height: 130px;
    position: absolute;
    top: 30%;
    left: 46%;
}


.link_footer{
       font-size: 17px;
}

.redesSociales{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 5%;
    left: 85%;
}

.redesSociales h3 {
    text-align: center;
    letter-spacing: 2px;
   
}

.redes li {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    margin: 10px 10px 5px;
    padding-left: 10px;
   
}


.derechos_autor{
    background-color: rgb(0, 0, 0);
    width: 20%;
    height: 20px;
    position: absolute;
    top: 88%;
    left: 81%;

}
.derechos_autor p {
    color: rgb(69, 69, 69);
    font-size: 15px;
}

.fondo_contacto{
    background-color: rgb(0, 0, 0);
}

/* INFORMACION*/


.video_info {

    width: 100%;
    height: 100%;
    

}












 
 
